<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        
        <label for="name" id="userNameL">Name:</label>
        <span id ='userName'> <%=userList.name%> </span><br>
        <label for="Email" id="userEmailL">Email:</label>
        <span id = 'userEmail'> <%=userList.age%> </span><br>
        <label for="Age" id="userAgeL">Age:</label>
        <span id = 'userAge'> <%=userList.email%> </span>  

    

    </body>
    <%- include("./partials/footer.ejs") %>
</html>