<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h2> All Users</h2>

       

        <% if (userList.length > 0 ){%>

            <table id="UserTable"> 
                <tr>
                    <th>Name</th><th>Age</th><th>Email</th><th>Edit</th>
                </tr> 

                <% userList.forEach(user=>{%>
                <tr>
                    <td><%= user.name%></td><td><%= user.age%></td><td><%= user.email%></td><td><a href="/delete/<%=user._id%>">Delete</a></a></td>
                </tr>

                    <% }) %>

            </table>

        <% } else { %>
            <p>There are no Users to display...</p>
        <% } %>

    </body>
    <%- include("./partials/footer.ejs") %>
</html>