<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h2> User</h2>
        
        <p> <%=userList.name%> </p>
        <p> <%=userList.age%> </p>
        <p> <%=userList.email%> </p>  

    

    </body>
    <%- include("./partials/footer.ejs") %>
</html>